<div class="block p-6 rounded-lg shadow-lg bg-white max-w-md mx-auto">
    <h2 class="text-center text-xl bold"> Agregar Usuario</h2>
    <form #myForm="ngForm" (ngSubmit)="createUser()">
        <div class="mb-6">
            <label for="identity" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cedula</label>
            <input type="text"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                id="identity" [(ngModel)]="dataForm.cedula" required name="identity">
        </div>
        <div class="mb-6">
            <label for="pNombre" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">P.Nombre</label>
            <input type="text"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                id="primernombre" [(ngModel)]="dataForm.primernombre" required name="primernombre">
        </div>
        <div class="mb-6">
            <label for="sNombre" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">S.Nombre</label>
            <input type="text"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                id="segundonombre" [(ngModel)]="dataForm.segundonombre" required name="segundonombre">
        </div>
        <div class="mb-6">
            <label for="pApellido"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">P.Apellido</label>
            <input type="text"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                id="primerapellido" [(ngModel)]="dataForm.primerapellido" required name="primerapellido">
        </div>
        <div class="mb-6">
            <label for="sApellido"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">S.Apellido</label>
            <input type="text"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                id="segundoapellido" [(ngModel)]="dataForm.segundoapellido" required name="segundoapellido">
        </div>
        <div class="mb-6">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Correo</label>
            <input type="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                id="email" [(ngModel)]="dataForm.email" required name="email">
        </div>
        <div class="mb-6">
            <label for="pass" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contraseña</label>
            <input type="password"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                id="password" [(ngModel)]="dataForm.password" required name="password">
        </div>
        <!--Componentes rol- empresas -->

        <div class="mb-6">
            <label for="companies" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Seleccione
                Empresa: </label>
            <select
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                id="companies" [(ngModel)]="dataForm.empresa.nit" [ngModelOptions]="{standalone: true}">
                <option *ngFor=" let company of companies" [value]="company.nit">{{company.nombre}}</option>
            </select>
        </div>

        <div class="mb-6">
            <label for="roles" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Seleccione Rol:
            </label>
            <select
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                id="roles" [(ngModel)]="dataForm.rol.id" [ngModelOptions]="{standalone: true}">
                <option *ngFor=" let rol of roles" [value]="rol.id">{{rol.rol}}</option>
            </select>
        </div>

        <button type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full  px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800  ">Enviar</button>
    </form>
</div>